* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #dee2e6;
}

:root[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --border-color: #4a4a4a;
}

html,
body {
  border: 1px solid green;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px; /* Default extension width */
  height: auto; /* Allow height to adjust to content */
  min-height: 320px; /* Minimum height */
  padding: 1rem;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  font-family: var(--font-family-base);
  border: none;
  transition:
    background-color 0.3s,
    color 0.3s;
  overflow: visible !important; /* Allow content to overflow */
}

#app {
  width: 100%;
}

/* Additional theme-based styling for the select element */
:root[data-theme='dark'] select {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  border-color: #4a4a4a !important;
}

:root[data-theme='light'] select {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #d1d5db !important;
}

/* Theme-specific styling for color picker */
:root[data-theme='dark'] .color-input__popup {
  color: #fff !important;
  background-color: #333 !important;
}

:root[data-theme='light'] .v-color-input__popup {
  color: #000;
  background-color: #ffff !important;
}

.color-input__popup,
.color-input__popup--bottom,
.color-input__popup--center,
.color-input__popup--bottom-center {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  /* border: 1px solid var(--border-colo); */
}
.color-input__popup {
  position: absolute;
  z-index: 9999;
  max-width: 100% !important;
  min-width: 100% !important;
  margin: 0 auto;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  box-shadow: none !important;
  -webkit-user-select: none;
  user-select: none;
  color: #0f0f0f;
  --popup-offset: 10px;
}
